html body{
	font-size: 10px;
}
.conternar1{
	margin: 0 auto;
	display: block;
}
.conternar1 .nar_left1{
	width: 100%;
}
.conternar1 .nar_right1{
	width: 100%;
}
.conternar11{
	display: block;
	
}
.conternar11 .nar_left11{
	width: 100%;
}
.conternar11 .nar_right11,.conternar11 .nar_right51{
	width: 100%;
}
.nar_right11 h2,.nar_right51 h2{
 	width: 100%;
}
.nar_right11 p,.nar_right51 p{
	width: 100%;
}
.as1 a{
	width: 100%;
}
.bottom1{
	width: 100%;
}
.bottomnav1{
	width: 80%;
	margin: 15px auto;
	/*border:1px solid red;*/
	display: block;
	/*justify-content: space-between;*/
}
.bottomnav1 div{
	width: 100%;
	/*border:1px solid red;*/
}
.bottomnav1 ul li{
    width: 48.5%;
    box-sizing: border-box;
    list-style: none;
    margin: 3px 3px;
}
.bottomnav11{
	width: 80%;
	margin: 15px auto;
	display: block;

	/*justify-content: space-between;*/
	/*border: 1px solid red;*/
}
.bottomnav11 h3{
	font-size: 24px;
    line-height: 64px;
    color: #2da592;
    text-align: center;
}
.bottomnav11 div{
	width: 100%;
	padding: 6px 11px;
    background: #fefefe;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.bottomnav11 .nav_ul_21 li{  
    float: none;
     width: 100%;
    box-sizing: border-box;
    list-style: none;
    margin: 3px 3px;
}
.bottomnav11 .nav_ul_21 li dl{
	width: 100%;
	height: 88px;
    padding-left: 66px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
    background: #f4f4f4 no-repeat 0 center;
}
.bottomnav11 .nav_ul_21 li dl dt{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
}
.bottomnav11 .nav_ul_21 li dl dd{
	display: block;
	width: 100%;
	color: #676767;
	margin-left: 0;
    font-size: 14px;
    line-height: 1.42857143;
}
.nar_right51 a{
	padding: 1rem 1rem 0 5rem;
}
